@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Arial","Microsoft YaHei","榛戜綋","瀹嬩綋",sans-serif;
  min-width: 1280px;
  background-color: #02071d;
  overflow: hidden; }

.align-middle, .layout .planet, .layout .orbite-1, .layout .orbite-2, .layout .orbite-3, .layout .orbite-4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.hidden {
  display: none; }

.disabled {
  color: #95a5a6;
  cursor: default;
  margin-left: 30px; }

@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.rotating {
  animation: rotating 50s linear infinite; }

.background {
  position: absolute;
  width: 100%;
  height: 100%; }
  .background [class^=planet] {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    animation: rotating 30s linear infinite;
    overflow: hidden; }
  .background .hole-1 {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 20px;
    left: 30px; }
  .background .hole-2 {
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    top: 10px;
    left: -5px; }
  .background .planet-1 {
    top: 100px;
    left: 340px;
    background-color: #d9e6cd; }
    .background .planet-1 .hole-1 {
      background-color: #cbd1c6; }
    .background .planet-1 .hole-2 {
      background-color: #999b8d; }
  .background .planet-2 {
    width: 40px;
    height: 40px;
    top: 130px;
    left: 970px;
    background-color: #11a4c6; }
    .background .planet-2 .hole-1 {
      background-color: #1068a8; }
    .background .planet-2 .hole-2 {
      background-color: #84bde7; }
  .background .planet-3 {
    top: 400px;
    left: 1100px;
    background-color: #f5a83e; }
    .background .planet-3 .hole-1 {
      background-color: #e0862e; }
    .background .planet-3 .hole-2 {
      background-color: #e0862e; }
  .background .planet-4 {
    width: 40px;
    height: 40px;
    top: 440px;
    left: 320px;
    background-color: #f5a83e; }
    .background .planet-4 .hole-1 {
      background-color: #e0862e; }
    .background .planet-4 .hole-2 {
      background-color: #e0862e; }

.layout {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 680px; }
  .layout .planet {
    animation: rotating 50s linear infinite;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #ec5d4a;
    overflow: hidden; }
    .layout .planet [class^=hole] {
      position: absolute;
      border-radius: 50%;
      background-color: #c83b38; }
    .layout .planet .hole-3 {
      width: 25px;
      height: 25px;
      top: 80px;
      left: -3px; }
    .layout .planet .hole-4 {
      width: 35px;
      height: 35px;
      top: 110px;
      left: 70px; }
    .layout .planet .hole-5 {
      width: 45px;
      height: 45px;
      top: 90px;
      left: 220px; }
  .layout .orbite-1 {
    width: 350px;
    height: 350px;
    border: 2px solid #3e4059;
    border-radius: 50%; }
  .layout .craft-model-1 {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 350px; }
  .layout .orbite-2 {
    width: 450px;
    height: 450px;
    border: 2px solid #3e4059;
    border-radius: 50%; }
  .layout .craft-model-2 {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 450px; }
  .layout .orbite-3 {
    width: 550px;
    height: 550px;
    border: 2px solid #3e4059;
    border-radius: 50%; }
  .layout .craft-model-3 {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 550px; }
  .layout .orbite-4 {
    width: 650px;
    height: 650px;
    border: 2px solid #3e4059;
    border-radius: 50%; }
  .layout .craft-model-4 {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 650px; }
  .layout .craft {
    position: relative;
    top: -10px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    background-color: #2fa06c; }

.dotted, .console, .control {
  position: absolute;
  border: 2px dotted #3b3f58;
  border-radius: 10px; }

.console {
  right: 20px;
  top: 20px;
  width: 300px;
  height: 350px;
  padding: 10px;
  overflow: hidden; }
  .console p {
    padding: 0;
    line-height: 9px;
    color: white;
    font-size: 14px; }
  .console .error {
    color: #32a39d; }

.control {
  left: 20px;
  top: 20px;
  width: 300px;
  height: 360px; }
  .control .bt {
    color: white;
    margin-left: 30px; }
    .control .bt:hover {
      cursor: pointer; }
  .control .control-slide {
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .control .label {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #2ECC71;
    line-height: 60px;
    color: white;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
